etc/regex.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <!-- the configuration for RegexCheck -->
    <start>
        <element name="regex">
            <optional>
                <!--
                    one may use this ID to configure several regex filters, which use this ID
                    as their statName and thus different stats counter
                -->
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <!--
                    max. size of a message, which should be scanned, i.e. if a message is
                    bigger than maxsize, no rule will be applied and no match returned.
                    If no maxsize is given, it implies no upper limits.
                -->
                <attribute name="maxsize">
                    <data type="integer"/>
                </attribute>
            </optional>
            <oneOrMore>
                <choice>
                    <ref name="rule"/>
                    <ref name="xinclude"/>
                </choice>
            </oneOrMore>
        </element>
    </start>
    <!-- another configuration file to include -->
    <define name="xinclude">
        <element name="xinclude">
            <!--
                the file to include. It has exactly the same syntax as the regex element,
                however, the regex element attributes are ignored
            -->
            <attribute name="file">
                <data type="NMTOKEN"/>
            </attribute>
        </element>
    </define>
    <!-- a single rule -->
    <define name="rule">
        <element name="rule">
            <optional>
                <!-- used, when matches are logged -->
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <!--
                    if onmatch is "accept" and force is set to "true", it instructs
                    milter4j to use this decision as final, i.e. doesn't process any
                    any other filters and sends the accept packet immediately back to
                    the MTA
                -->
                <attribute name="force">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <!-- what to do with the mail, if a rule matches, i.e. returns "true" -->
            <attribute name="onmatch">
                <choice>
                    <value>accept</value>
                    <value>reject</value>
                    <value>discard</value>
                    <value>tempfail</value>
                </choice>
            </attribute>
            <optional>
                <!--
                    the reply message to send, if onmatch is set to "reject" (otherwise
                    this element is ignored). If not specified and onmatch is set 
                    to "reject", "554 5.7.1 rejecting command" will be send back.
                -->
                <element name="msg">
                    <!-- SMTP status code 4xx | 5xx -->
                    <attribute name="reply">
                        <data type="integer"/>
                    </attribute>
                    <!-- Extended status code 4.x.x | 5.x.x -->
                    <attribute name="status">
                        <data type="NMTOKEN"/>
                    </attribute>
                    <!-- the message to send -->
                    <text/>
                </element>
            </optional>
            <choice>
                <ref name="or"/>
                <ref name="and"/>
            </choice>
        </element>
    </define>
    <!--
        combine the result of all rules with OR logic. Shortcuts will be used, i.e.
        if a rule returns "true", the result gets returned immediately - no further
        rules will be evaluated.
    -->
    <define name="or">
        <element name="or">
            <optional>
                <!-- informational -->
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <!-- if "true", negate the outcome of this rule before returning it -->
                <attribute name="not">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <choice>
                    <ref name="and"/>
                    <ref name="or"/>
                    <ref name="find"/>
                    <ref name="match"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <!--
        combine the result of all rules with AND logic. Shortcuts will be used, i.e.
        if a rule returns "false", the result gets returned immediately - no further
        rules will be evaluated.
    -->
    <define name="and">
        <element name="and">
            <optional>
                <!-- informational -->
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <!-- if "true", negate the outcome of this rule before returning it -->
                <attribute name="not">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <choice>
                    <ref name="and"/>
                    <ref name="or"/>
                    <ref name="find"/>
                    <ref name="match"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <!-- find a text in the source, which matches the given regular expression -->
    <define name="match">
        <element name="match">
            <optional>
                <!-- if set, RegexCheck will log an info message on match using this ID -->
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <!-- if "true", negate the outcome of this rule before returning it -->
                <attribute name="not">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <optional>
                <!--
                    If src is set to "header", name will be used as a comma separated list
                    of header names to lookup and apply the embedded rules to its values.
                    If name is not set, the given regex gets applied to all header values.
                    
                    If src is set to "body", type might be set to content-type values to
                    to match. The embedded rules are than applied to message parts 
                    with a matching mime type, only. Format: 
                    	type['|'type]*'/'subtype['|'subtype]* [; param="val['|'val]*"]*
                    If type is not specified, "text/*" is assumed as default.
                    An asterisk ('*') may be used for type as well as subtype to match
                    any [sub]type. The parameter names (param) are always trimmed and 
                    converted to lower case. As seen, alternate values might be separated
                    by a '|'. E.g.:
                    	text/plain|html; charset="windows-1251|koi8-r"
                    The content type matches, if a matching media type and subtype
                    can be found. In addition, if paramters are given in the constructor, 
                    ALL parameters must occure in the given content type and match
                    at least one of the possibly alternate values.
                    Types and parameter names are trimmed and converted to lowercase and 
                    matched on a <em>isEqual</em> base.
                    Parameter values are matched on a <em>startsWith</em> base, if the
                    param value ends with an asterisk '*', matched on a <em>endsWith</em>
                    base, if the param value starts with an asterisk '*', otherwise
                    matched on a <em>isEqual</em> base.
                    
                    If src is set to any other value, 'name' and 'type' attributes are 
                    ignored.
                -->
                <choice>
                    <attribute name="name"/>
                    <attribute name="type"/>
                </choice>
            </optional>
            <!--
                Determines, to which section of the mail the rules should be applied.
                For all but body embedded rules are applied against raw values, i.e. 
                possibly quoted values (e.g. =?koi8-r?B?5tLP09E=?= <iration@iration.ru>) 
                are not decoded, before find/regex gets applied. 
                For body text based message content gets always unquoted/converted 
                into UTF-8 before embedded rules are applied.
            -->
            <attribute name="src">
                <choice>
                    <value>mail_from</value>
                    <value>rcpt_to</value>
                    <value>header</value>
                    <value>body</value>
                </choice>
            </attribute>
            <!-- the regular expression (java Pattern syntax) to apply -->
            <text/>
        </element>
    </define>
    <!--
        analog to match, however it tries to find the given text literally in the
        specified source
    -->
    <define name="find">
        <element name="find">
            <optional>
                <attribute name="id">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="not">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <optional>
                <choice>
                    <attribute name="name"/>
                    <attribute name="type"/>
                </choice>
            </optional>
            <attribute name="src">
                <choice>
                    <value>mail_from</value>
                    <value>rcpt_to</value>
                    <value>header</value>
                    <value>body</value>
                </choice>
            </attribute>
            <text/>
        </element>
    </define>
</grammar>
